body {
  margin: 20px;
}
#zero {
  margin-left: 20px;
}
#one {
  margin-left: 20px;
}
#two {
  margin-left: 20px;
}
#three {
  margin-left: 20px;
}
#four {
  margin-left: 20px;
}
#five {
  margin-left: 20px;
}
